In [13]:
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import LabelEncoder

In [14]:
# img_list = os.listdir('E:\Pixta Hackathon\dataset\mnt\md0\projects\sami-hackathon\private\data/images')

In [15]:
def encode_label(file_name):
    df = pd.read_csv(file_name)
    le_dict_corrected = {column: LabelEncoder().fit(classes) for column, classes in df.items()}
    
    df_new_to_encode = df.drop(['file_name', 'height', 'width', 'bbox'], axis=1)

    # Apply the previously fitted LabelEncoders to the new dataframe
    df_new_encoded = df_new_to_encode.copy()
    for column, le in le_dict_corrected.items():
        if column in df_new_encoded:
            df_new_encoded[column] = le.transform(df_new_encoded[column])

    # Adding the non-encoded columns back to the encoded dataframe
    df_new_encoded['file_name'] = df['file_name']
    df_new_encoded['height'] = df['height']
    df_new_encoded['width'] = df['width']
    df_new_encoded['bbox'] = df['bbox']
    correct_column_order = ['file_name', 'height', 'width', 'bbox', 'age', 'race', 'masked', 'skintone', 'emotion', 'gender']

    # Reorder the columns in df_new_encoded to match the specified order
    df_correct_order = df_new_encoded[correct_column_order]

    return df_correct_order

encoded_df = encode_label("Fking_final_labels.csv")
encoded_df.to_csv("encoded_labels.csv", index= False)
encoded_df

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
0,100013282.jpg,1333,2000,"[934.0000000000097, 144.82228672769534, 238.24...",0,0,1,3,4,1
1,100016175.jpg,1333,2000,"[1094.0513571635438, 422.91772295627203, 55.45...",0,0,1,1,4,1
2,10004189.jpg,2000,1333,"[419.93871061403877, 269.1250391680045, 377.19...",0,1,1,1,3,0
3,100104575.jpg,1333,2000,"[1490.6909678848915, 676.0000000000097, 37.553...",0,0,1,3,4,1
4,100104600.jpg,2000,1333,"[549.169724453414, 92.52040334013152, 306.8821...",0,0,1,3,3,0
...,...,...,...,...,...,...,...,...,...,...
15305,image_2713.jpg,1024,1024,"[244.71717171717162, 176.66666666666654, 587.2...",1,0,1,3,3,1
15306,image_3332.jpg,1024,1024,"[265.6338028169031, 174.2441314553992, 584.727...",4,0,1,1,3,0
15307,image_6905.jpg,1024,1024,"[251.3434343434343, 184.7171717171712, 500.535...",0,0,1,1,4,1
15308,image_4080.jpg,1024,1024,"[222.72727272727235, 179.8181818181809, 586.90...",3,0,1,1,3,0
15309,image_8309.jpg,1024,1024,"[169.37373737373707, 141.48484848484836, 566.2...",2,0,1,1,4,0

In [16]:
detail   = {'age': {'20-30s': 0,
                '40-50s': 1,
                'Kid': 3,
                'Senior': 4,
                'Baby': 2,
                'Teenager': 5},
            'race': {'Caucasian': 0, 'Mongoloid': 1, 'Negroid': 2},
            'masked': {'unmasked': 1, 'Masked': 0},
            'skintone': {'mid-light': 3, 'light': 1, 'mid-dark': 2, 'Dark': 0},
            'emotion': {'Neutral': 4,
                        'Happiness': 3,
                        'Anger': 0,
                        'Surprise': 6,
                        'Fear': 2,
                        'Sadness': 5,
                        'Disgust': 1},
            'gender': {'Male': 1, 'Female': 0}}