In [1]:
import cv2
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [13]:
labels = pd.read_csv("./final_data.csv")

In [3]:
labels.head()

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
0,100013282.jpg,1333,2000,"[934.0000000000097, 144.82228672769534, 238.24...",20-30s,Caucasian,unmasked,mid-light,Neutral,Male
1,100016175.jpg,1333,2000,"[1094.0513571635438, 422.91772295627203, 55.45...",20-30s,Caucasian,unmasked,light,Neutral,Male
2,10004189.jpg,2000,1333,"[419.93871061403877, 269.1250391680045, 377.19...",20-30s,Mongoloid,unmasked,light,Happiness,Female
3,100104575.jpg,1333,2000,"[1490.6909678848915, 676.0000000000097, 37.553...",20-30s,Caucasian,unmasked,mid-light,Neutral,Male
4,100104600.jpg,2000,1333,"[549.169724453414, 92.52040334013152, 306.8821...",20-30s,Caucasian,unmasked,mid-light,Happiness,Female

In [4]:
labels[labels.file_name == "1308644.jpg"]

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
651,1308644.jpg,2000,1328,"[482.949853077264, 871.1844803331134, 221.2718...",20-30s,Mongoloid,unmasked,light,Happiness,Female

In [5]:
name = "1308644.jpg"
full_path = os.path.join("./mnt/md0/projects/sami-hackathon/private/data/", name)
image = cv2.imread(full_path)

In [6]:
bbox = labels[labels.file_name == name].iloc[0, 3]
bbox = np.array(bbox[1:-1].split(", "), dtype=np.float32)

In [7]:
bbox = bbox.astype(np.int16)

In [8]:
image = cv2.rectangle(image, (bbox[0], bbox[1]), (bbox[0] + bbox[2], bbox[1] + bbox[3]), (255, 255, 0), 2)

In [9]:
plt.imshow(cv2.cvtColor(image, cv2.COLOR_BGR2RGB))

error: OpenCV(4.9.0) D:\a\opencv-python\opencv-python\opencv\modules\imgproc\src\color.cpp:196: error: (-215:Assertion failed) !_src.empty() in function 'cv::cvtColor'

In [15]:
def bbox_convert(row):
    bbox = np.array(row[1:-1].split(", "), dtype=np.float32)
    bbox = bbox.astype(np.int16)
    return bbox

In [16]:
for index, row in labels.iterrows():
    path = row['file_name']
    full_path = os.path.join("./classification/race/dataset/", path)
    image = cv2.imread(full_path)
    bbox = row['bbox']
    bbox = np.array(bbox[1:-1].split(", "), dtype=np.float32)
    bbox = bbox.astype(np.int16)
    # image = cv2.rectangle(image, (bbox[0], bbox[1]), (bbox[0] + bbox[2], bbox[1] + bbox[3]), (255, 255, 0), 2)
    image = image[bbox[1]:bbox[1]+bbox[3], bbox[0]:bbox[0]+bbox[2]]
    cv2.imwrite(os.path.join("./bboxes/", path), image)

KeyboardInterrupt: