In [1]:
import cv2
import os
import pandas as pd

In [3]:
data = pd.read_csv("labels.csv")

In [5]:
data.describe()

            height        width
count  6180.000000  6180.000000
mean   1471.650324  1856.841100
std     317.425953   273.422712
min     284.000000   666.000000
25%    1333.000000  2000.000000
50%    1333.000000  2000.000000
75%    1500.000000  2000.000000
max    2530.000000  2700.000000

In [18]:
data.columns

Index(['file_name', 'height', 'width', 'bbox', 'age', 'race', 'masked',
       'skintone', 'emotion', 'gender'],
      dtype='object')

In [26]:
fault_data = pd.DataFrame(columns=['file_name', 'height', 'width', 'bbox', 'age', 'race', 'masked',
       'skintone', 'emotion', 'gender'])

In [27]:
caucasian = data[data.race == 'Caucasian']

In [28]:
fault_data = pd.concat([fault_data, caucasian[caucasian.skintone == "mid-dark"]], ignore_index=True)

In [29]:
fault_data = pd.concat([fault_data, caucasian[caucasian.skintone == "dark"]], ignore_index=True)

In [30]:
mongoloid = data[data.race == 'Mongoloid']

In [31]:
fault_data = pd.concat([fault_data, mongoloid[mongoloid.skintone == "mid-dark"]], ignore_index=True)

In [32]:
fault_data = pd.concat([fault_data, mongoloid[mongoloid.skintone == "dark"]], ignore_index=True)

In [33]:
negroid = data[data.race == "Negroid"]

In [34]:
fault_data = pd.concat([fault_data, negroid[negroid.skintone == "light"]], ignore_index=True)

In [35]:
fault_data = pd.concat([fault_data, negroid[negroid.skintone == "mid-light"]], ignore_index=True)

In [36]:
fault_data.describe()

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
count,303,303,303,303,303,303,303,303,303,303
unique,271,50,12,303,6,3,2,4,7,2
top,63192703.jpg,1333,2000,"[750.0538954435882, 243.99999999999991, 302.94...",20-30s,Caucasian,unmasked,mid-dark,Neutral,Female
freq,16,119,237,1,241,148,295,228,138,201

In [37]:
fault_data.to_csv("Most_wrong.csv")

In [38]:
negroid.to_csv("negroid.csv")

In [39]:
mongoloid.to_csv("mongoloid.csv")

In [40]:
caucasian.to_csv("caucasian.csv")

In [47]:
caucasian[caucasian.file_name == "74539845.jpg"]['race'].values.tolist()[0]

'Caucasian'

In [52]:
mongoloid.describe()

            height        width
count  2601.000000  2601.000000
mean   1463.141100  1855.093810
std     302.104851   275.118647
min     477.000000  1054.000000
25%    1333.000000  2000.000000
50%    1333.000000  2000.000000
75%    1338.000000  2000.000000
max    2000.000000  2500.000000