In [1]:
import cv2
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [2]:
labels = pd.read_csv("labels.csv")

In [3]:
for index, row in labels.iterrows():
    bbox = row['bbox']
    bbox = bbox[1:-1].split(", ")
    if len(bbox) == 8:
        print(row['file_name'])

In [4]:
def multi_fields_detect(df, columns):
    for index, row in df.iterrows():
        row = row[columns]
        row = row.split(", ")
        if len(row) > 1:
            print(f"Multi fields detected: {row['file_name']} at column {columns}")

In [5]:
labels[labels['file_name'].duplicated() == True]

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
101,101835746.jpg,721,2000,"[1179.813401047065, 124.09557246908886, 49.807...",20-30s,Caucasian,unmasked,light,Neutral,Female
102,101835746.jpg,721,2000,"[848.5984121871273, 118.49608682515225, 47.128...",20-30s,Caucasian,unmasked,light,Happiness,Female
103,101835746.jpg,721,2000,"[470.56823253169784, 136.43311250673352, 46.29...",20-30s,Caucasian,unmasked,light,Happiness,Female
104,101835746.jpg,721,2000,"[96.45608395181988, 133.24623398113232, 62.914...",20-30s,Caucasian,unmasked,light,Happiness,Female
105,101835746.jpg,721,2000,"[1804.0009910403633, 127.23681305518419, 46.77...",20-30s,Caucasian,unmasked,light,Happiness,Female
...,...,...,...,...,...,...,...,...,...,...
13459,96834029.jpg,1216,2000,"[882.8382838283792, 155.09362279511572, 80.858...",20-30s,Mongoloid,unmasked,light,Neutral,Female
13520,97706685.jpg,1662,2000,"[942.8844025303049, 195.47889573665157, 112.17...",20-30s,Mongoloid,unmasked,light,Neutral,Female
13521,97706685.jpg,1662,2000,"[1587.1144754729694, 289.52738221164367, 102.0...",20-30s,Mongoloid,unmasked,light,Neutral,Female
13635,99503096.jpg,1439,2000,"[811.8666509579353, 189.6960732004206, 91.0221...",20-30s,Mongoloid,unmasked,light,Neutral,Female
13636,99503096.jpg,1439,2000,"[1693.5068338121305, 186.37055417123528, 89.52...",20-30s,Mongoloid,unmasked,light,Neutral,Female

In [3]:
labels[labels.file_name == "78841225.jpg"]

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
10326,78841225.jpg,334,2000,"[1451.8501247926133, 118.1473426812662, 86.149...",20-30s,Caucasian,unmasked,light,Surprise,Female
10327,78841225.jpg,334,2000,"[1782.2568443892778, 133.5637139843044, 81.472...",20-30s,Caucasian,unmasked,light,Happiness,Female
10328,78841225.jpg,334,2000,"[121.37770145770496, 133.69833617409742, 84.49...",20-30s,Caucasian,unmasked,light,Surprise,Female
10329,78841225.jpg,334,2000,"[451.8748474312531, 134.28959966892987, 84.846...",20-30s,Caucasian,unmasked,light,Fear,Female
10330,78841225.jpg,334,2000,"[1126.7063656649839, 141.89909921787017, 84.27...",20-30s,Caucasian,unmasked,light,Fear,Female

In [5]:
for i in range(10326, 10331):
    bbox = labels.iloc[i, 3]
    bbox = np.array(bbox[1:-1].split(", "), dtype=np.float32)
    bbox = bbox.astype(np.int16)
    image = cv2.imread(r"E:\Pixta Hackathon\dataset\unmasked_300\Caucasian\78841225.jpg")
    image = cv2.rectangle(image, (bbox[0], bbox[1]), (bbox[0] + bbox[2], bbox[1] + bbox[3]), (255, 255, 0), 2)
    cv2.imwrite(f'face{i}.png', image)

:

In [79]:
bbox = labels.iloc[101, 3]

In [80]:
bbox = np.array(bbox[1:-1].split(", "), dtype=np.float32)
bbox = bbox.astype(np.int16)

In [81]:
bbox

array([1179,  124,   49,   72], dtype=int16)

In [82]:
image = labels.iloc[101, 0]

In [83]:
image = cv2.imread("./mnt/md0/projects/sami-hackathon/private/data/101835746.jpg")

In [84]:
image = cv2.rectangle(image, (bbox[0], bbox[1]), (bbox[0] + bbox[2], bbox[1] + bbox[3]), (255, 255, 0), 2)

In [85]:
image.shape

(721, 2000, 3)

In [78]:
cv2.imwrite('face.png', image)

True

In [20]:
labels['masked'].value_counts()

masked
unmasked    14806
masked        504
Name: count, dtype: int64

In [22]:
for index, row in labels.iterrows():
    masked = row['masked']
    if masked == "masked":
        image = cv2.imread(os.path.join("./mnt/md0/projects/sami-hackathon/private/data/", row['file_name']))
        cv2.imwrite(os.path.join("./masked/", row['file_name']), image)

In [40]:
def get_ratio(row):
    ratio = int(row['height'])/int(row['width'])
    return row

In [45]:
labels.head()

,file_name,height,width,bbox,age,race,masked,skintone,emotion,gender
0,100013282.jpg,1333,2000,"[934.0000000000097, 144.82228672769534, 238.24...",20-30s,Caucasian,unmasked,mid-light,Neutral,Male
1,100016175.jpg,1333,2000,"[1094.0513571635438, 422.91772295627203, 55.45...",20-30s,Caucasian,unmasked,light,Neutral,Male
2,10004189.jpg,2000,1333,"[419.93871061403877, 269.1250391680045, 377.19...",20-30s,Mongoloid,unmasked,light,Happiness,Female
3,100104575.jpg,1333,2000,"[1490.6909678848915, 676.0000000000097, 37.553...",20-30s,Caucasian,unmasked,mid-light,Neutral,Male
4,100104600.jpg,2000,1333,"[549.169724453414, 92.52040334013152, 306.8821...",20-30s,Caucasian,unmasked,mid-light,Happiness,Female

In [47]:
labels['ratio'] = labels['height']/labels['width']

In [48]:
labels['ratio'] = round(labels['ratio'], 3)

In [49]:
labels.ratio.value_counts()

ratio
0.666    6956
1.500    2294
1.000    1758
0.667     910
0.668     354
         ...
1.344       1
0.583       1
0.768       1
0.835       1
1.010       1
Name: count, Length: 569, dtype: int64